#title {
    text-align: center;
    font-family: copperplate;
    font-size: 5em;
    margin-top: 1rem;
}

#container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom: 3rem;
    gap: 1rem;
    order: 2;
    position: relative;
    z-index: 10;
    }

.piko-card {
    flex: 1 1 30%;
    min-width: 250px;
    max-width: 500px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 20px;
    background-color: rgb(173, 196, 194);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1),
                0 1px 3px rgba(0, 0, 0, 0.06);
}

.piko-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.piko-img {
    max-width: 100%;
    height: auto;
    display: block;
}

.piko-info {
    padding-left: 1.25rem;
}

.info-text {
    font-family: monospace;
    font-size: 1rem;
}

.piko-name {
    font-family: "copperplate", fantasy;
    font-size: 1.5em;
}

.piko-abilities {

}

.piko-category {

}

.piko-weakness {

}

#focused {
    display: flex;
    justify-content: center;
    align-items: center;
    order: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 11;
}

#focused .piko-card {
    z-index: 12;
    position: relative
}

#parent {
    display: flex;
    position: relative;
}

.unfocused {
    opacity: 0.5;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 11;
}
